<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page Component</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  

   <ion-list>
      <ion-item *ngFor="let event of event">
        <ion-card>
          <ion-card-title>{{event.title}}</ion-card-title>
        </ion-card>
    </ion-item>
  </ion-list>
</ion-content>