<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page One</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <button ion-button secondary menuToggle>Toggle Menu</button>
  <button ion-button (click)="showCoordinates()">Show GPS</button>

  <ion-list>
    <ion-item *ngFor="let event of events" (click)="goToEvent(event.id)">
      <h2>{{event.title}}</h2>
      <p>{{event.city}}, {{event.state}}</p>
    </ion-item>
  </ion-list>
</ion-content>
